body{
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
}

#text-crip{
    height: 60%;
    background-color: transparent;
    border: none;
    resize: none;
    margin-left: 5px;
    margin-right: 2%;
    font-size: x-large;
}

#text-crip::placeholder{
    color: red;
    font-size: x-large;    
}

main{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;    
    overflow: hidden;
}

.main-light{
    background-color:gainsboro;
}

.main-dark{
    background-color: darkslategrey;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;    
    color:lightcoral;
}

.footer-light{
    background-color:lightgray;
}

.footer-dark{
    background-color: black;
}

footer h2{
    margin: 0;
    font-size: 100%;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    color: red;
    width: 10%;
    box-sizing: border-box;
}

#header h1{
    margin: 0;
}

#color-circule{
    width: 50%;
    padding-top: 50%;
    border-radius: 50%;    
}

.color-circule-dark{
    background-color: black;
}

.color-circule-light{
    background-color: white;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 58%;      
    height: 100%;     
}

#result{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    border-radius: 50px;  
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    width: 28%;
    height: 94%;    
    text-align: center;      
}

.result-light{
    background-color:beige;
}

.result-dark{
    background-color:dimgrey;
}



#result h3{
    max-width: 90%;
}

#text-result{
    word-wrap: break-word;
    max-width: 90%;    
    max-height: 75%;
    overflow-y: auto;
    margin-top: 20%;
}

#result button{
    display: none;
    width: 80%;
    padding: 5%;
    margin-bottom: 10%;
    text-align: center;
    border: none;
    border-radius: 30px;          
    background-color:grey;
}

#aviso{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: small;    
    margin-top: 2%;
    margin-bottom: 5px;    
}

#icon-aviso{
    display: flex;
    justify-content: center;
    align-items: center;       
    width: 15px;
    height: 15px;        
    border-radius:10px;
    margin-right: 5px;
}

.icon-aviso-light{
    background-color: black;
    color: white;
}

.icon-aviso-dark{
    background-color: red;
    color: black;
}

#buttons #clear{
    width: auto;
    background-color:chocolate;
}

#buttons button{
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    border: none;
    border-radius: 30px;    
}

.buttons-light button{
    background-color: beige;
}

.buttons-dark button{
    background-color:cadetblue;
}

button{
    transition: transform 0.1s ease;
}

button:active{        
    transform: scale(0.95);
}
button:focus{
    background-color: rgba(0,0,0,0.1);
}